GOOGLE_GENAI_USE_VERTEXAI=1 #set to 1 to use Vertex AI else 0
GOOGLE_CLOUD_PROJECT=project_name
GOOGLE_CLOUD_LOCATION=us-east
GOOGLE_CLOUD_STORAGE_BUCKET=bucket_name  # Only required for deployment on Agent Engine
GOOGLE_API_KEY="API_KEY"